bin/Debug/netcoreapp3.1/myproject
bin/Debug/netcoreapp3.1/myproject.deps.json
bin/Debug/netcoreapp3.1/myproject.dll
bin/Debug/netcoreapp3.1/myproject.pdb
bin/Debug/netcoreapp3.1/myproject.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/myproject.runtimeconfig.json
obj/myproject.csproj.nuget.dgspec.json
obj/myproject.csproj.nuget.g.props
obj/myproject.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/myproject
obj/Debug/netcoreapp3.1/myproject.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/myproject.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/myproject.assets.cache
obj/Debug/netcoreapp3.1/myproject.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/myproject.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/myproject.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/myproject.dll
obj/Debug/netcoreapp3.1/myproject.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/myproject.pdb
